# documentation about general options is located here:
# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html

{% if cookiecutter.aws_ebs_type == "python" %}
# documenation about EBS python environment options is available here
# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-specific.html#command-options-python

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "{{ cookiecutter.project_name }}.settings.aws_ebs"
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "{{ cookiecutter.project_name }}/wsgi.py"
  # please note that this setting is only here in case you happen to set
  # STATIC_URL = '/static/' , as there is a default of /static/ that will
  # make the files being served non compressed via apache. Take a look here:
  # - http://stackoverflow.com/a/34669173/788022
  # - https://forums.aws.amazon.com/thread.jspa?messageID=655381&#655381
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": ".staticfiles/"
packages:
  yum:
    postgresql94-devel: []
container_commands:
  01_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "django-admin.py collectstatic --noinput"
files:
  "/home/ec2-user/django-manage.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      source /opt/python/run/venv/bin/activate
      source /opt/python/current/env
      cd /opt/python/current/app
      ./manage.py "$@"


{% elif cookiecutter.aws_ebs_type == "docker" %}
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "{{ cookiecutter.project_name }}.settings.aws_ebs"
container_commands:
  01_migrate:
    command: "touch /tmp/leader_only"
    leader_only: true
files:
  "/home/ec2-user/django-manage.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      docker exec -it `docker ps -a --no-trunc -q | head -n 1` /app/.vedocker/bin/python /app/manage.py "$@"
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_django_manage.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      # setting up logs dir
      deploy_django_logs_dir="/var/log/django_deploy"
      mkdir -p "$deploy_django_logs_dir"

      # basic debugging information put to $deploy_django_logs_dir/deploy-django.log
      deploy_django_log="$deploy_django_logs_dir/deploy-django.log"
      date >> "$deploy_django_log"

      # log files for docker commands
      migrate_log="$deploy_django_logs_dir/deploy-django-01_migrate.log"

      if [ -f /tmp/leader_only ]
      then
        echo "Leader, running leader commands." >> "$deploy_django_log"
        rm /tmp/leader_only
        docker exec `docker ps -a --no-trunc -q | head -n 1` /app/.vedocker/bin/python /app/manage.py migrate --noinput &>> "$migrate_log"
      else
        echo "Not leader, so not running leader commands." >> "$deploy_django_log"
      fi

{% endif %}