container_commands:
  01_migrate:
    command: "touch /tmp/leader_only"
    leader_only: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_django_manage.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      # setting up logs dir
      deploy_django_logs_dir="/var/log/django_deploy"
      mkdir -p "$deploy_django_logs_dir"

      # basic debugging information put to $deploy_django_logs_dir/deploy-django.log
      deploy_django_log="$deploy_django_logs_dir/deploy-django.log"
      date >> "$deploy_django_log"

      # log files for docker commands
      migrate_log="$deploy_django_logs_dir/deploy-django-01_migrate.log"
      collectstatic_log="$deploy_django_logs_dir/deploy-django-02_collectstatic.log"

      if [ -f /tmp/leader_only ]
      then
        echo "Leader, running leader commands." >> "$deploy_django_log"
        rm /tmp/leader_only
        docker exec `docker ps -a --no-trunc -q | head -n 1` /app/{{ project_name }}/venv/bin/python /app/{{ project_name }}/manage.py migrate --noinput &>> "$migrate_log"
        docker exec `docker ps -a --no-trunc -q | head -n 1` /app/{{ project_name }}/venv/bin/python /app/{{ project_name }}/manage.py collectstatic --noinput &>> "$collectstatic_log"
      else
        echo "Not leader, so not running leader commands." >> "$deploy_django_log"
      fi